# Kestra Database Config
KESTRA_DB_USER=
KESTRA_DB_PASSWORD=
KESTRA_DB_NAME=
KESTRA_DB_HOST=
KESTRA_DB_PORT=

# Kestra Authentication
KESTRA_AUTH_USER=
KESTRA_AUTH_PASSWORD=

# pgAdmin Config
PGADMIN_EMAIL=
PGADMIN_PASSWORD=

# fs Config
DIRECTORY_PATH=

# Google Cloud Config
GCP_PROJECT_ID=
GCP_BUCKET_NAME=
GCP_DATASET_NAME=