# Kestra Database Config
KESTRA_DB_USER=
KESTRA_DB_PASSWORD=
KESTRA_DB_NAME=

# Kestra Authentication
KESTRA_AUTH_USER=
KESTRA_AUTH_PASSWORD=

# pipeline Database Config
NYC_TAXI_DB_USER=
NYC_TAXI_DB_PASSWORD=
NYC_TAXI_DB_NAME=
NYC_TAXI_DB_PORT=
NYC_TAXI_DB_HOST=

# pgAdmin Config
PGADMIN_EMAIL=
PGADMIN_PASSWORD=

# fs Config
NYC_TAXI_DIRECTORY_PATH=

# Image names
INIT_STAGE_IMAGE_NAME=
SILVER_STAGE_IMAGE_NAME=
GOLD_STAGE_IMAGE_NAME=

# Dockerfile Paths
INIT_STAGE_DOCKERFILE_PATH=
SILVER_STAGE_DOCKERFILE_PATH=
GOLD_STAGE_DOCKERFILE_PATH=